body {
  background-color: #fff;
}

h1 {
  color: navy;
  margin-left: 20px;
  text-align: center;
}

a {
  color: hotpink;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.quote {
    margin: 0;
    padding: 15px 15px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    color: #333333;
}

.quote-text {
	display: inline-block;
    font: italic 25px/32px "Times New Roman", serif;
    color: #333333;
    padding: 0 21px;
}

.quote-author {
	font-size: 14px;
    text-align: right;
    color: #333333;
    margin-top: 14px;
    margin-right: 17px;
}

span {
	font-style: italic;
	font-size:17px;
	background: linear-gradient(to right,#fce3ec,#ffe8cc);
}